<?xml version="1.0" ?>
<config>
    <modules>
        <DK_Crud>
            <version>1.0.0</version>
        </DK_Crud>
    </modules>
    <global>
        <helpers>
            <dk_crud>
                <class>DK_Crud_Helper</class>
            </dk_crud>
        </helpers>
        <blocks>
            <dk_crud>
                <class>DK_Crud_Block</class>
            </dk_crud>
        </blocks>
        <models>
            <dk_crud>
                <class>DK_Crud_Model</class>
                <resourceModel>dk_crud_mysql4</resourceModel>
            </dk_crud>
            <dk_crud_mysql4>
                <class>DK_Crud_Model_Mysql4</class>
                <entities>
                    <articles>
                        <table>articles</table>
                    </articles>
                </entities>
            </dk_crud_mysql4>
        </models>
        <resources>
            <dk_crud_setup>
                <setup>
                    <module>DK_Crud</module>
                </setup>
            </dk_crud_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Dk_Crud before="Mage_Adminhtml">DK_Crud_Adminhtml</Dk_Crud>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <dk_crud>
                    <file>dk/crud.xml</file>
                </dk_crud>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <dk_crud module="DK_Crud">
                    <file>dk/crud.xml</file>
                </dk_crud>
            </updates>
        </layout>
        <routers>
            <DK_Crud_Article>
                <use>standard</use>
                <args>
                    <module>DK_Crud</module>
                    <frontName>articles</frontName>
                </args>
            </DK_Crud_Article>
        </routers>
    </frontend>
    <adminhtml>
        <menu>
            <dk_crud>
                <title>CRUD</title>
                <sort_order>100</sort_order>
                <action>adminhtml/articles</action>
            </dk_crud>
        </menu>
    </adminhtml>
</config>